

#reactPrint {
    visibility: hidden;
}


#startbtn {
    visibility: visible;
}

body {
    background-color: rgb(31, 31, 31);

}


.titleDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.titleText {
    color: white;
    font-family: sans-serif;
    font-size: 32px;
}

.reactDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.reactText {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}

.restartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    visibility: hidden;
}

.restartText {
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 100;
}

.restartText:hover {
    cursor: pointer;
}

.startDiv {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.startText {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-top: 120px;
}

.startText:hover {
    cursor: pointer;
    font-size: 34px;
    transition: all 0.5s;
}